<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="mx-auto px-16 checkmark-list" id="about" style="margin-top: 2%">
      <h3 class="text-xl font-bold mb-4">What you'll learn</h3>
      <div class="about__container grid grid-cols-2 gap-4">
        <div class="space-y-3">
          <p>
            Mô tả các ngành nghề và hoạt động hàng ngày liên quan đến nơi làm
            việc.
          </p>
          <p>Sắp xếp các cuộc họp tại nơi làm việc.</p>
        </div>
        <div class="space-y-3">
          <p>
            Thực hiện và trả lời các cuộc gọi điện thoại cơ bản liên quan đến
            nơi làm việc.
          </p>
          <p>Nói về hoạt động công việc trong quá khứ.</p>
        </div>
      </div>
      <h3 class="text-xl font-bold mt-4">Details to know</h3>
      <div class="grid grid-cols-3">
      <div class="flex flex-col justify-center content-center gap-1">
        <img class="w-6 h-6 object-cover"
          src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/images/31ebcba3851b87d1d8609abf15d0ff7e.png?auto=format%2Ccompress&dpr=1&w=24&h=24"
          alt="image"
        />
        <p class="font-medium">Shareable certificate</p>
        <p>Add to your LinkedIn profile</p>
      </div>
      <div class="flex flex-col justify-center content-center">
        <img class="w-6 h-6 object-cover"
          src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/images/31ebcba3851b87d1d8609abf15d0ff7e.png?auto=format%2Ccompress&dpr=1&w=24&h=24"
          alt="image"
        />
        <p class="font-medium">Assessments</p>
        <p>5 assignments</p>
      </div>
      <div class="flex flex-col justify-center content-center">
        <img class="w-6 h-6 object-cover"
          src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/images/31ebcba3851b87d1d8609abf15d0ff7e.png?auto=format%2Ccompress&dpr=1&w=24&h=24"
          alt="image"
        />
        <p class="font-medium">Taught in English
        </p>
        <p>22 languages available</p>
      </div>
    </div>
    <div
        class="bg-white border border-gray-300 shadow-md rounded-lg mx-auto p-5 grid grid-cols-2 gap-6 mt-12"
      >
        <div class="">
          <a href="#"><h3 class="text-lg font-bold">See how employees at top companies are mastering in-demand skills</h3></a>
          <p class="text-gray-500 text-sm">
            Đạt được cái nhìn sâu sắc về một chủ đề và tìm hiểu các nguyên tắc
            cơ bản.
          </p>
        </div>
        
      </div>
      <div
        class="bg-white border border-gray-300 shadow-md rounded-lg mx-auto p-5 grid grid-cols-2 gap-6 mt-12"
      >
        <div class="">
          <a href="#"><h3 class="text-lg font-bold">See how employees at top companies are mastering in-demand skills</h3></a>
          <p class="text-gray-500 text-sm">
            Đạt được cái nhìn sâu sắc về một chủ đề và tìm hiểu các nguyên tắc
            cơ bản.
          </p>
        </div>
       
      </div>
    </div>
  </body>
</html>
